<div class="wrapper">

    <h6 class="prodid">User id:
        <span class="prodid">
            {{user.userid}}
        </span>
    </h6>

    <div class="main">
        <div class="details">
            <div>
                <h1 class="title">{{user.name}}</h1>
                <h1 class="title">{{user.email}}</h1>
                <h1 class="title">{{user.address}}</h1>
            </div>
            <div class="buttons">
                <button class="editbutton"><span class="buttontext edittext">Edit User Details</span><img src="/assets/material-symbols_edit-square-rounded.svg" alt="edit-icon"></button>            </div>
        </div>
    </div>
</div>