<div class="wrapper">
    <h6 class="prodid">product id</h6>
    <div class="main">
        <img src="https://via.placeholder.com/128/d3d3d3/000000/?text=Product Image" alt="product-image">
        <div class="details">
            <div>
                <h4>Product Title</h4>
                <h6>₹ 299</h6>
                <h6>Stock Available</h6>    
            </div>
            <div class="buttons">
                <button class="editbutton"><span class="buttontext edittext">Edit Product Details</span><img src="/assets/material-symbols_edit-square-rounded.svg" alt="edit-icon"></button>
                <button class="deletebutton"><span class="buttontext deletetext">Remove Product</span><img src="/assets/mdi_delete-forever.svg" alt="delete-icon"></button>
            </div>
        </div>
    </div>
</div>