
<div class="card center centerbox">
        <h3 class="form-title" >{{User.name}}</h3>
        <span class="form-field boxfield">
            <label for="emailid">Email Id :</label>
            <h5 name="emailid">{{User.email}}</h5>
        </span>
        <span class="form-field boxfield">
            <label for="address">Address :</label>
            <h5 name="address">{{User.address}}</h5>
        </span>
        <span class="form-field boxfield">
            <label for="phone">Contact no :</label>
            <h5 name="phone">{{User.phone}}</h5>
        </span>
        <span class="form-field boxfield">
            <label for="order">Orders Completed :</label>
            <h5 name="order">{{orders}}</h5>
        </span>
        
</div>

