<div class="admin">
    <div class="side-nav">
        <h1 class="title">ARGUKART</h1>
        <div class="menu">
            <a [href]="'productslist'" class="menu-item">Products List</a>
            <a [href]="'orderslist'" class="menu-item">Orders List</a>
            <a [href]="'userslist'" class="menu-item active">Users List</a>
        </div>
        <button class="btn-logout">Log Out</button>
        <!-- log out button will log out the admin and route back to homepage /home -->
    </div>
    <div class="dashboard">
        <div class="dashboard-head">
            <h1>Users List</h1>
        </div>
        <div class="products">
            <app-userslistitem></app-userslistitem>
    </div>
</div>
