.container{
    display: flex;
    flex-direction: column;
}
.wrapper{
    padding: 24px 240px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.items{
    height: 100%;
    overflow-y: auto;
}