<div class="wrapper">

    <h6 class="prodid">User id:
        <span class="prodid">
            gvhgvh-213d12-sad-213
        </span>
    </h6>

    <div class="main">
        <div class="details">
            <div>
                <h1 class="title">User Name</h1>
                <h1 class="title">abc@xyz.com</h1>
                <h1 class="title">Address</h1>
            </div>
            <div class="buttons">
                <button class="editbutton"><span class="buttontext edittext">Edit User Details</span><img src="/assets/material-symbols_edit-square-rounded.svg" alt="edit-icon"></button>            </div>
        </div>
    </div>
</div>