<div class="cartitem">
    <div class="item-details">
        <img class="prodimg" src="/assets/product-image-placeholder.svg" alt="product-image">
        <div class="details">
            <div>
                <h1 class="title">Product Name</h1>
                <h1 class="quant">Quantity: 1</h1>    
                <h1 class="quant">Unit Price: ₹ 299</h1>    
            </div>
            <h1 class="price">Price:
                <span>₹ 299</span>
            </h1>
        </div>
    </div>
</div>