<div class="admin">
    <div class="side-nav">
        <h1 class="title">ARGUKART</h1>
        <div class="menu">
            <a [href]="'productslist'" class="menu-item active">Products List</a>
            <a [href]="'orderslist'" class="menu-item">Orders List</a>
            <a [href]="'userslist'" class="menu-item">Users List</a>
        </div>
        <button class="btn-logout">Log Out</button>
    </div>
    <div class="dashboard">
        <div class="dashboard-head">
            <h1>Products List</h1>
            <button class="btn-addproduct">+ Add Product</button>
        </div>
        <div class="products">
            <app-productslistitem></app-productslistitem>
            <app-productslistitem></app-productslistitem>
            <app-productslistitem></app-productslistitem>
        </div>
    </div>
</div>
