<div class="card">
    <form action="" method="get">
        <h3 class="form-title">LOGIN</h3>
        <div class="form-field">
            <label for="email">Email Address:</label>
            <input type="email" name="email" id="email" placeholder="abc@xyz.com">
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="123456789" c>
        </div>
        <span>
            <input type="submit" value="Log In">
            <a href="#">Forgot password?</a>
        </span>
        <p>Don't have an account? <a [href]="'signup'">Sign Up Now!</a></p>
    </form>
</div>