<div class="wrapper">
    <div class="order-details">
        <h6 class="prodid">Ordered by:
            <span class="prodid">
                user name
            </span>
        </h6>
        <h6 class="prodid orderid">Order id:
            <span class="prodid">
                gvhgvh-213d12-sad-213
            </span>
        </h6>
    </div>
    <div class="main">
        <img src="https://via.placeholder.com/128/d3d3d3/000000/?text=Product Image" alt="product-image">
        <div class="details">
            <div>
                <h4>Order Title</h4>
                <h6>₹299</h6>
                <h6>Quantity</h6>
                <h6>Date</h6>
            </div>
        </div>
    </div>
</div>