.wrapper{
    padding: 24px 240px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.empty{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.empty h1{
    font-size: 50px;
}

.title{
    font-size: 36px;
    font-weight: 600;
    border-bottom: 4px solid black;
    width: max-content;
}
.cart-items{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
}
.checkout{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 15px;
}
.price, .price span{
    font-size: 28px;
    font-weight: 600;
}
.btn-checkout{
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    padding: 12px 36px;
}