<div class="cartitem">
    <div class="item-details">
        <svg version="1.1" class="prodimg" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle> <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points=" 38,15 22,33 12,25 "></polyline> </g></svg>
        <!-- <img class="prodimg" src="" alt="product-image"> -->
        <div class="details">
            <div>
                <h6 class="title">Order id: {{order.id}}</h6>
                <h1 class="quant">Order Date: {{order.orderDate}}</h1>    
                <h1 class="quant">Status: Success</h1>    
            </div>
            <h1 class="price">Amount:
                <span>₹ {{order.totalPay}}</span>
            </h1>
        </div>
    </div>
    <div>
        <!-- <button><span class="text">Remove from cart</span><img src="/assets/mdi_delete-forever.svg" alt="delete-icon"></button> -->
    </div>
</div>